body {
  font-family: "Inter", sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  color: #625f74;
}
.main {
  margin-top: 10px;
}
h3 {
  margin-top: 25px;
}
p {
  line-height: 1.7;
}
pre {
  font-family: monospace;
}

code {
  border-radius: 7px;
}
